body {
  text-align: center;
  
  vertical-align: middle;
  height: 100%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}
table tbody tr td {
  border: 1px solid black;
  padding: 4px;
}

input[type="numeric"] {
  border: 1px solid grey;
  border-radius: 8px;
}

li {
  display: inline-block;
  list-style: none;
  margin-left: 8px;

}

.diagonal {
  color: red;
}

button {
  margin: 8px!important;
}
button.oddButton {
  margin-top: 38px!important;
}
.MuiAutocomplete-root {
  margin: 0 auto;
  display: inline-block
}
.form-container {
  vertical-align: middle;
  margin-top: -24px;
}